<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户指定月份天数输出</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" v-model='month' @blur='blur'><br />
        <div v-if="day != 0">
            本月有“{{day}}”天
        </div>
    </div>

    <script>

        new Vue({
            el: '#app',
            data() {
                return {
                    month: '',
                    day: 0,
                    month03: [2],
                    month02: [4, 6, 9, 11],
                    month01: [1, 3, 5, 7, 8, 10, 12]

                }
            },
            methods: {
                blur() {

                    // console.log(this.month);
                    // console.log(this.month01.includes(this.month));

                    // if (this.month01.includes(this.month)) {
                    //     this.day = 31
                    // } else if (this.month02.includes(this.month)) {
                    //     this.day = 30
                    // } else if (this.month03.includes(this.month)) {
                    //     this.day = 28
                    // } else {
                    //     this.day = 0
                    // }

                    for (const key in month01) {
                        if (this.month == month01[key]) {
                            this.day = 31
                            break
                        }
                    }

                    for (const key in month02) {
                        if (this.month == month02[key]) {
                            this.day = 30
                            break
                        }
                    }

                    if (this.month == 2) {
                        this.day = 28
                    }



                }
            },
        })

    </script>

</body>

</html>